<div class="row">
{{#each movies}}
	<div class="col l3 m4 s6">
		<div class="card hoverable">
			<div class="card-image">
				<img src="{{poster_path}}" alt="{{title}}">
				<span class="card-title">{{title}}</span>
			</div>
			<div id="{{id}}"class="card-content">
				{{#each cast}}
					<p>{{name}}</p>
				{{/each}}
				{{release_date}}
			</div>
			<div class="card-action addTracked">
				<a class="add-to-watchlist-btn">Add to Watchlist</a>
			</div>
			<div class="card-action deleteCard">
				<a class="delete-card-btn">Delete</a>
			</div>
		</div>
	</div>
{{/each}}
</div>