<div>
	{{#each movies}}


		<h3>{{title}}</h3><br>
		<img src="{{poster_path}}" alt="{{title}}"style="width:20%;height:20%;">
		{{#each cast}}
		<p>{{name}}</p>
		{{/each}}
		<ul>
			<li>{{release_date}}</li>
			<li>{{rating}}</li>
		</ul>

	{{/each}}
</div>